body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}


.our-navbar {
    background: black;
    border-bottom: 5px solid red;
    border-top: 5px solid red;
}

.our-primary-menu {
    margin-left: auto;
}

.our-primary-menu li {
    display: inline-block;
}

.our-primary-menu li a {
    color: gray;
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
    transition: .4s;

}

.our-primary-menu li a:hover {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

.header-search {
    margin-left: 30px;
    border-radius: 50%;
}

.our-form {
    position: relative;
}

.our-search {
    outline: none;
    padding: 9px 10px;
    width: 100%;
    border-radius: 50px;
    border: none;
}

.our-btn {
    position: absolute;
    border: none;
    right: 3%;
    top: 6px;
    width: 50px;
    height: 30px;
    background: transparent;
    text-align: center;
    outline: none;
    padding: 0%;
}

.our-search::placeholder {
    color: #707070;
    font-size: 17px;
}

.our-btn:focus {
    outline: none;
}

.sub-contact {
    background-color: #FF1D00;
    margin-bottom: 100px;
}
.sub-contact h1{
    color: #fff;

}
.contact-form .form-head input {
    padding: 12px 19px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 1px solid #707070;
}
.contact-form .form-head textarea {
    padding: 12px 19px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 1px solid #707070;
}

button.contact-btn {
    padding: 12px 40px;
    font-size: 17px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background:#111;
    color: #fff;
    transition: .4s;
    text-align: center;
    
}

.contact-btn:hover {
    background-color: #FF1D00;
    color: #fff;
}
.our-footer{
    background-color: #111;
    margin-top: 30px;
}
.our-footer p {
    font-size: 19px;
    color: #FFF;
}